.container {
  width: 628px;
  height: 628px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.blob {
  position: absolute;
  width: 450px;
  height: 450px;
}

.blob:nth-child(2) {
  filter: blur(80px);
}
